torch==2.5.1+cu121
torchvision==0.20.1+cu121
numpy==1.26.4
opencv-python==4.11.0
pandas==2.2.3
scipy==1.15.1
tensorboardX==2.6.2.2
scikit-learn==1.6.1
tqdm==4.67.1
matplotlib==3.10.0
Pillow==11.1.0
catboost==1.2.7
